#Android Studio files
*.apk
*.ap_
*.iml
*.dex
*.log
*.class
.gradle/
local.properties
google-services.json
.idea/
.DS_Store
bin/
gen/
out/
build/
proguard/
captures/
.navigation/
.externalNativeBuild/
